pandas
numpy
seaborn
matplotlib
scikit-learn
# catboost this package has build issue
xgboost
dill
flask
# below line automatically trigger for building setup.py 
# to do a pip install of a python package, comment the below line as this will avoid building the package
# Package can be build at the end
# -e .
